/*
    =================================
    Places section styles
    =================================
*/

.places {
   
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;

}

.places h1 {
    font-size: 30px;
    text-align: left;
    
    
}

/* Artcile style */

.places article {
    width: 330px;
    padding: 20px;
    margin: 20px;
    border: 1px  solid #FF5A5F;
    border-radius: 4px;
    text-align: center;   

       
}

/* adding flex box continer */



.places article h2 {
    font-size: 30px;
    text-align: center;
}

/* structure within boexed lists of places */

div.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 100%;
    min-width: 60px;
    height: 60px;
    position: relative;
    float: right;
    font-size: 30px;    
    top: -80px;
    line-height: 60px;
    
}

div.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD; 
    border-color: #DDDDDD;
    display: flex;
    width: 100%; 
    
      
}

div.max_guest,
div.number_rooms,
div.number_bathrooms {
    width: 100px;
    background-repeat: no-repeat;   
    height: 100%;
    line-height: 130px;
    background-position: 50% 5px;   
    
}

div.max_guest {
    background-image: url('/images/icon_group.png');   
}
div.number_rooms {
    background-image: url('/images/icon_bed.png');   
}
div.number_bathrooms{
    background-image: url('/images/icon_bath.png');   
}


div.user,
div.description {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

section.places div.amenites,
section.places div.reviews {
    margin-top: 40px;
    text-align: left;
    padding-left: 0px;
            
}

section.places div.amenites ul,
section.places div.reviews ul {
    padding-left: 0px;
    list-style: none;
}

section.places div.amenites h2,
section.places div.reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD; 
    text-align: left; 
    padding-bottom: 6px;   
}


 li.tv:before,
 li.wifi:before,
 li.pets:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
  }


ul li.tv:before {
    background-image: url("/images/icon_tv.png");    
    
}

ul li.wifi:before {
    background-image: url("/images/icon_wifi.png");
}

ul li.pets:before {
    background-image: url("/images/icon_pets.png");
}


section.places div.reviews li {
    list-style-type: none;    
}

section.places div.reviews li h3 {
    font-size: 14px;
    margin-bottom: 0px;
}

section.places div.reviews li p {   
    margin-top: 2px;
    font-size: 14px;
}


/*
    Resposnive design 
    
*/

/* styles for screens smaller than 600px */
@media (max-width: 600px) {
    .places  {
      display: flex;
      flex-direction: column;
    }
  }
  
 